header {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    background: url(/Images/404Error/matrix.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

body {
    opacity: 1;
}

#errorContent {

}

#morpheus {

}
