#topHeader {
    background-color: #212830;
    color: white;
    width: 100%;
}



.roundedBorders {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#searchButton {
    background:url(/Images/Icons/search.png) no-repeat;
    background-color: #0094d5;
    cursor:pointer;
    border: none;
    width: 40px;
    height: 40px;
}